{% extends 'layout.html.twig' %}

{% macro generalization_tree(generalizations) %}
    {% import _self as self %}
    <ul>
        {% for class in generalizations %}
            <li>
                <a class="name-ref name-class" href="{{ class.filename }}">{{ class.name }}</a>
                {% if class.generalizations is not empty %}
                    {{ self.generalization_tree(class.generalizations) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% import _self as classTmpl %}

{% block title -%}
    {{ model.name }}
{%- endblock %}

{% block content %}
    {% if model.generalizations is not empty %}
    <section>
        <h2>Generalizations</h2>
        {{ classTmpl.generalization_tree(model.generalizations) }}
    </section>
    {% endif %}

    {% if model.specializations is not empty %}
    <section>
        <h2>Specializations</h2>
        <ul class="list-unstyled">
        {% for class in model.specializations %}
            <li><a class="name-ref name-class" href="{{ class.filename }}">{{ class.name }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if model.childrenOf('uml:Property') is not empty %}
        <section>
            <h2>Attributes</h2>
            <ul class="list-unstyled">
            {% for property in model.childrenOf('uml:Property') %}
                <li>
                    <a class="name-ref name-property" href="{{ property.filename }}"><strong>{{ property.name }}</strong></a>
                    <a href="{{ property.type.filename }}">:{{ property.type.name }}</a>
                    <span>{{ property.propertyHash }}</span>
                    {% if property.defaultValue %}
                        {% if property.defaultValue.filename %}
                            <a href="{{ property.defaultValue.filename }}">={{ property.defaultValue.name }}</a>
                        {% else %}
                            <span>={{ property.defaultValue }}</span>
                        {% endif %}
                    {% endif %}
                    <p class="comment">{{ property.comment }}</p>
                </li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
