{% extends 'layout.html.twig' %}

{% from 'macros.html.twig' import generalizations, specializations %}

{% block content %}
    {{ generalizations(model) }}
    {{ specializations(model) }}

    {% if model.childrenOf('uml:Property') is not empty %}
        <section>
            <h2>Attributes</h2>
            <ul class="list-unstyled">
            {% for property in model.childrenOf('uml:Property') %}
                <li>
                    <a class="name-ref name-property" href="{{ property.filename }}"><strong>{{ property.name }}</strong></a>
                    <a href="{{ property.type.filename }}">:{{ property.type.name }}</a>
                    <span>{{ property.propertyHash }}</span>
                    {% if property.defaultValue %}
                        {% if property.defaultValue.filename %}
                            <a href="{{ property.defaultValue.filename }}">={{ property.defaultValue.name }}</a>
                        {% else %}
                            <span>={{ property.defaultValue }}</span>
                        {% endif %}
                    {% endif %}
                    <p class="comment">{{ property.comment }}</p>
                </li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if model.childrenOf('uml:Operation') is not empty %}
        <section>
            <h2>Operations</h2>
            <ul class="list-unstyled">
            {% for operation in model.childrenOf('uml:Operation') %}
                <li>
                    <a class="name-ref name-{{ operation.class }}" href="{{ operation.filename }}"><strong>{{ operation.name }}</strong></a>
                    <span>(</span>
                    {% for param in operation.children %}
                        <span>{{  loop.first ? '' : ',' }}</span>
                        <span>{{ param.direction }}</span>
                        <strong>{{ param.name }}</strong>
                        <a href="{{ param.type.filename }}">:{{ param.type.name }}</a>
                    {% endfor %}
                    <span>)</span>
                    <a href="{{ operation.type.filename }}">:{{ operation.type.name }}</a>
                    {#<span>{{ operation.operationHash }}</span>#}
                    {#{% if operation.defaultValue %}#}
                        {#{% if operation.defaultValue.filename %}#}
                            {#<a href="{{ operation.defaultValue.filename }}">={{ operation.defaultValue.name }}</a>#}
                        {#{% else %}#}
                            {#<span>={{ operation.defaultValue }}</span>#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                    <p class="comment">{{ operation.comment }}</p>
                </li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
